.date-range-filter .input-wrapper {
  $reset-button-width: 2rem !default;

  position: relative;

  .flatpickr-input {
    padding-right: $reset-button-width;
  }

  .reset-button {
    position: absolute;
    top: 1px;
    right: 0;
    width: $reset-button-width;
    opacity: 0;
    transition: opacity 0.4s;
  }

  .reset-icon {
    width: 18px;
    height: 18px;
    color: #9d9d9d;
  }

  &:hover .reset-button {
    opacity: 1;
  }
}
